<!DOCTYPE html>
<html>
<head>
    <title>Talk Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Talk to me😉</h1>

   <h2>Spill the tea 💬</h2>

    <form method="POST">
        <textarea name="message" rows="1" required
            placeholder="Write something..."
            onkeydown="if(event.key==='Enter' && !event.shiftKey){ this.form.submit(); return false; }"></textarea>
        <br><br>
        <button type="submit">Post</button>
    </form>
<hr>

{% for msg in messages %}
<div style="
    background:rgb(240, 237, 240);
    padding:15px;
    border-radius:12px;
    margin-bottom:12px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
">

<div style="display:flex; justify-content:space-between; align-items:center;">

<div class="user-info">
<img src="{{ url_for('static', filename='img/' + user_pics.get(msg[1], 'talkavatar.jpg')) }}" class="talkavatar">    <strong>{{ msg[1] }}</strong>
</div>
 
    <span style="color:gray;">🕒 {{ msg[3] }}</span>

</div>

    <p style="margin-top:8px;">💬 {{ msg[2] }}</p>

    <!-- ✅ Delete button only for owner -->
    {% if msg[1] == session['user'] %}
    <form action="{{ url_for('delete', id=msg[0]) }}" method="POST">
        <button style="
            background:#a88dc5;
            color:white;
            border:none;
            padding:6px 12px;
            border-radius:6px;
            cursor:pointer;
        ">Delete</button>
    </form>
    {% endif %}

</div>
{% endfor %}


    <a href="/">⬅ Back</a>
</body>
</html>
